{% extends "base.html" %} 
{% load static %}
{% block title %}Политика конфиденциальности{% endblock title %} 
{% block header %}Политика конфиденциальности{% endblock header %} 
{% block content %}


<div class="loader"></div>

<div class="bna-text">
  Компания <span class="company-name">GoCar Rentals</span> (далее «Компания») уважает вашу конфиденциальность и
  стремится защищать ваши персональные данные. Эта Политика конфиденциальности
  объясняет, как мы собираем, используем, храним и защищаем вашу информацию.
</div>

<h2>Сбор информации</h2>

<p>Мы можем собирать следующую информацию:</p>

<ul class="ul-dec">
  <li> Персональные данные: имя, фамилия, контактный телефон, адрес электронной почты, данные паспорта и водительских прав.
  </li>
  <li> Информация о бронировании: даты аренды, выбранные автомобили, предпочтения клиента.
  </li>
  <li> Технические данные: IP-адрес, тип устройства, браузер и информация о посещаемых страницах.
  </li>
</ul>

<h2>Использование информации</h2>

<p>Мы используем вашу информацию для следующих целей:</p>

<ul class="ul-dec">
  <li> Обработка и управление вашим бронированием.</li>
  <li> Связь с вами по вопросам аренды и обслуживания.</li>
  <li> Улучшение качества наших услуг и разработка новых предложений.</li>
  <li> Выполнение юридических обязательств.</li>
</ul>

<h2>Хранение данных</h2>

<p>
  Ваши персональные данные хранятся в защищенных системах. Мы принимаем все
  необходимые меры для защиты информации от несанкционированного доступа, потери
  или использования.
</p>

<h2>Передача данных</h2>

<p>
  Мы не передаем ваши персональные данные третьим лицам без вашего согласия, за
  исключением случаев, предусмотренных законом.
</p>

<h2>Ваши права</h2>

<p>Вы имеете право:</p>

<ul class="ul-dec">
  <li> Запрашивать доступ к своим персональным данным.</li>
  <li> Исправлять неточные данные.</li>
  <li> Запрашивать удаление ваших данных.</li>
  <li> Отзывать согласие на обработку данных.</li>
</ul>

{% endblock content %}
