{% extends "base.html" %}
{% block title %}О компании{% endblock title %}
{% block header %}О компании{% endblock header %}
{% block content %}
<section>
	{{ company_info.text }}
	<div>
		<dfn title="Это современная компания, предоставляющая услуги по аренде автомобилей на любой срок. Мы предлагаем широкий выбор автомобилей, от эконом-класса до люксовых моделей, чтобы удовлетворить потребности каждого клиента.">GoCar Rentals</dfn>
	</div>
</section>

<section>
	В <time datetime="4:00">4 часа 30 минут</time>
	<time datetime="2033-1-5">5 января 2033 года</time>
</section>

<section>
	<a href="../../../assets/images/crs_logo.jpg" download="Скачать логотип сайта">Скачать логотип сайта</a>
</section>

<section>
	<a href="#srt">Смотреть сертификат</a>
</section>

<section>
	<blockquote cite="https://ru.wikipedia.org/wiki/%D0%90%D0%B2%D1%82%D0%BE%D0%BC%D0%BE%D0%B1%D0%B8%D0%BB%D1%8C">
		Автомоби́ль (от др.-греч. αὐτός — сам и лат. mobilis — подвижной, скорый) — моторное безрельсовое дорожное и/или внедорожное, чаще всего автономное, транспортное средство, используемое для перевозки людей и/или грузов, обычно имеющее не менее четырёх колёс. 
	</blockquote>
</section>

<section>
	<table>
		<thead>
				<tr>
						<th class="t-th" id="brand">Марка</th>
						<th class="t-th" id="model">Модель</th>
						<th class="t-th" id="year">Год</th>
						<th class="t-th" id="price">Цена ($)</th>
						<th class="t-th" id="color">Цвет</th>
				</tr>
		</thead>
		<tbody>
				<tr>
						<td class="t-td" headers="brand">Toyota</td>
						<td class="t-td" headers="model">Corolla</td>
						<td class="t-td" headers="year">2020</td>
						<td class="t-td" headers="price">20000</td>
						<td class="t-td" rowspan="2" headers="color">Синий</td>
				</tr>
				<tr>
						<td class="t-td" headers="brand">Honda</td>
						<td class="t-td" headers="model">Civic</td>
						<td class="t-td" headers="year">2019</td>
						<td class="t-td" rowspan="2" headers="price">22000</td>
				</tr>
				<tr>
						<td class="t-td" headers="brand">Ford</td>
						<td class="t-td" headers="model">Focus</td>
						<td class="t-td" headers="year">2021</td>
						<td class="t-td" headers="color">Черный</td>
				</tr>
				<tr>
						<td class="t-td" headers="brand">BMW</td>
						<td class="t-td" headers="model">X5</td>
						<td class="t-td" headers="year">2022</td>
						<td class="t-td" headers="price">60000</td>
						<td class="t-td" headers="color">Белый</td>
				</tr>
		</tbody>
	</table>
</section>

<section>
	<iframe src="https://example.com" width="600" height="400" style="border: 1px solid #444343;">Ошибка при отображении фрейма</iframe>
</section>

<section>
	<figure>
		<video width="640" height="460" autoplay muted controls style="margin: 20px 0px 0px 0px;">
			<source src="../../../assets/videos/Rick_Astley_Never_Gonna_Give_You_Up.mp4" type="video/mp4">
			Ваш браузер не поддерживает видео тег.
		</video>
		<figcaption>Пример видео</figcaption>
	</figure>
</section>

<!-- <div style="margin-top: 50px;">
	<audio controls autoplay loop>
		<source src="../../../assets/music/rammstein-deutschland.mp3" type="audio/mp3">
		Ваш браузер не поддерживает аудио тег.
	</audio>
</div> -->

<section>
	<h2>История компании</h2>
	<div>
		<ul>
			{% for key, value in history %}
			<li>
				<p style="font-size: 20px"><b>{{ key }}</b></p>
				<span>{{ value }}</span>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
<section>
	<h2>Реквизиты компании</h2>
	<div>
		<pre style="font-size: 16px">{{ company_info.requisites }}</pre>
	</div>
</section>
<section>
	<h2><a id="srt"></a>Сертификат</h2>
	<div style="
				width: 400px;
				height: 600px;
				border: 2px solid black;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: center;
				text-align: center">
		<h1>Свидетельво</h1>
		<p>Сертификат соответствия стандартам качества ISO 9001:2015</p>
		<p><samp>Выдан: 15 марта 2023 года</samp></p>
		<p><samp>Номер сертификата: 123456789</samp></p>
		<p>Выдавшая организация: <abbr title="Национальный центр сертификации">НЦС</abbr></p>
		<p>Сертификат подтверждает, что<wbr/> система управления<br/> качеством компании<wbr/> соответствует<br/> международным стандартам,<br/> что гарантирует высокий<br/> уровень обслуживания<wbr/> клиентов<br/> и надежность<wbr/> предоставляемых услуг.</p>					
	</div>
</section>
{% endblock content %}