{% extends "base.html" %}
{% block title %}Новости{% endblock title %}
{% block header %}Новости{% endblock header %}
{% block content %}
{% for new in news %}
<article
  style="
    display: flex;
    align-items: start;
    border-radius: 10px;    
    border: 1px solid black;
    margin: 10px 0px;
    width: 80%">
  <img
    src="{{ new.image.url }}"
    height="130"
    style="
    margin: 10px 0px 10px 10px; 
    border-radius: 10px;"
    />
  <div style="margin: 0px 0px 0px 20px; width: 750px">
    <h3>{{ new.title }}</h3>
    <p class="desc-news-overflow">{{ new.short_description }}</p>
    <a href={% url "news_info" new.id %} >Читать далее</a>
  </div>
</article>
{% endfor %}
{% endblock content %}